---
---

<head>
    <html lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnodespegue</title>
    <link rel="preconnect" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="Images/Tecno.svg" type="image/x-icon" >

    <!-- Meta Descriptions -->
    <meta name="description" content="Nos dedicamos al desarrollo web y a la programacion en general para clientes.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tecnodespegue.com/">
    <meta property="og:title" content="Tecnodespegue">
    <meta property="og:description"
        content="Nos dedicamos al desarrollo web y a la programacion en general para clientes.">
    <meta property="og:image" content="https://tecnodespegue.com/Images/Tecno.svg" >

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://tecnodespegue.com/">
    <meta property="twitter:title" content="Tecnodespegue">
    <meta property="twitter:description"
        content="Nos dedicamos al desarrollo web y a la programacion en general para clientes.">
    <meta property="twitter:image" content="https://tecnodespegue.com/Images/Tecno.svg" >


    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" onload="this.media='all'" />
    
     <!-- precarga de imagenes pesadas -->
     <link rel="preload" href="https://res.cloudinary.com/ddztbf1se/image/upload/v1714583438/qmbcx8e36partpqcghpw.avif" as="image"> 
     <link rel="preload" href="https://res.cloudinary.com/ddztbf1se/image/upload/v1714583438/ruktnofx8dbtusir5iyy.webp" as="image">  
</head>